#dog-container {
    display: block;
    align-items: center;
    justify-content: center;
    margin-right: 1000px;
}


#dog-card {
    top: 180px;
    left: 700px;
    position: absolute;
    width: 520px;
    height: 700px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
}

#dog-card img {
    
    width: 450px;
    height: 540px;
    fill: #333;
    margin-top: 20px;
    
}


.dog-card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    display: none;
}

.dog-card__content.show-content {
    display: block; 
}

.dog-card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}


.dog-card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}


#dog-buttons {
    position: absolute;
    bottom: 95px;
    display: flex;
    left: 755px;
    align-items: flex-end;
    width: 100%;
    height: 50px;
}

#info-button {
    position: absolute;
    top: 750px;
    left: 1160px;
    display: flex;   
}  

.information {
    border-radius: 100px;
    border: 1px solid #000;
}

.information:hover {
    background-color: #949092; /* Transparent slightly darker gray on hover */
    color: #000000;
}

.information img {
    width: 30px;
    height: 30px;
}

.reject-button img{
    width: 60px;
    height: 60px;
}
.reject-button {
    border-radius: 100px;
    border-color: darkviolet;
    width: 110px;
    height: 110px;
    cursor: pointer;
    margin-right: 30px;
    background-color: transparent;
   }

.reject-button:hover {
    background-color: #c27ba0; /* Slightly darker gray on hover */
}

.heart-button img{
    width: 60px;
    height: 60px;
}
.heart-button {
    border-radius: 100px;
    border-color: palevioletred;
    width: 110px;
    height: 110px;
    cursor: pointer;
    margin-right: 30px;
    background-color: transparent;
}

.heart-button:hover {
    background-color: #f795c0; /* Slightly darker red on hover */
 
}

.paw-button img{
    width: 60px;
    height: 60px;
}
.paw-button {
    border-radius: 100px;
    border-color: #9e4328;
    width: 110px;
    height: 110px;
    cursor: pointer;
    margin-right: 30px;
    background-color: transparent;
    }

.paw-button:hover {
    background-color: #c67622; /* Slightly darker blue on hover */

}
.add-dog-form {
    position: fixed;
    top: 130px;
    right: 20px;
    margin: 20px;
}


.toggle-button {
    background-color: #0e172c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.toggle-button:hover {
    background-color: #003366;
    color: #ffffff;
}

.add-dog-container {
    display: none;
    justify-content: flex-start; /* Align items to the start (top) */
    align-items: flex-end; /* Align items to the end (right) */
    z-index: 1;
    position: fixed;
    top: 200px;
    left: 150px;
    width: 100%;
    height: 100%;
}

.add-dog-form-inner {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    position: relative; /* Relative positioning for absolute children */
}

.add-dog-form label {
    margin: 10px 0;
    font-size: 18px;
    color: var(--color-text);
}

.add-dog-form input,
.add-dog-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.add-dog-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.add-dog-form button {
    margin: 10px 0;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    background-color: #0e172c;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.add-dog-buttons {
    display: flex;
  
}

.exit-button {
    background-color: #0e172c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 12px;
    position: absolute; /* Absolute positioning */
    top: 507.5px; /* Adjust top spacing as needed */
    right:30px; /* Adjust right spacing as needed */
}

#popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

#popup-message {
    margin-bottom: 10px;
}

#popup-close {
    cursor: pointer;
    color: #007BFF;
    text-decoration: underline;
}

