::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#mssgs {
	font-family: var(--fontMain);
	font-size: 16pt;
	text-align: left;
	letter-spacing: 7.215px;
    position: absolute;
    width: 450px;
    height: 650px;
    overflow-y: scroll;
    padding: 10px;
}

.ownerUser {
    background-color: #FED9ED;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 8px 16px rgba(0, 0, 0, 0);
}

.ownerUser:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6), 0 16px 32px rgba(0, 0, 0, 0.6);
    color: #0e172c;
    background-color: #BB9CC0;
}

#messages {
    height: 650px;
    overflow-y: auto;
    margin-bottom: 50px;
    text-align: left;
    justify-content: left;
}

#rectangle_message {
    position: absolute;
    margin-top: 170px;
    top: 0px;
    left: 80px;
    width: 475px;
    height: 750px;
    border: 3px solid #0E172C;
    background: #d2b3d6;
}

#rectangle_convo{
    max-height: 750px;
    position: absolute;
    margin-top: 170px;
	top: 0px;
	left: 585px;
	width: 1200px;
	height: 750px;
    border: 3px solid #0E172C;
	background:#d2b3d6;

}
.myProfile {
    margin-top: -40px;
    display: flex;
    height: auto;
    width: auto;
    margin-left: 120px;
    font-family: var(--fontMain);
    font-size: 35px;
}
.message{
    margin-top: -115px;
    display: flex;
    height: auto;
    width: auto;
    margin-left: 30px;
    font-family: var(--fontMain);
    font-size: 26px;
}
.hr {
    width: 100%;
    margin-top: -10px;
    margin-left: 0px;
    size: 20px;
    border: 1px solid black;
}

.inputbox{
    position: absolute;
    margin-top: 665px;
	top: 0px;
	width: 100%;
	height: 50px;
    align-items: center;
    justify-content: center;
}

#message_input{
    width: 800px;
    margin-left: 250px;
    position: absolute;
    margin-bottom: 20px;
    box-sizing: border-box;
    color: var(--color-text);
    border-radius: 10px;
    font-family: var(--fontMain);
    font-size: 16pt;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.4);
}

#sendbtn{
    background-color: #0e172c;
    cursor: pointer;
    position: absolute;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    left: 1075px;

}

#sendImg{
    width: 30px;
    height: 30px;
    margin-top: 4px;
    margin-right: 5px;
}

.messages.sent {
    text-align: right;
    background-color: #FED9ED;
    margin-left: 930px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 8px 16px rgba(0, 0, 0, 0);
}

.messages.received {
    text-align: left;
    background-color: #E7BCDE;
    margin-left: 1%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 8px 16px rgba(0, 0, 0, 0);
}

.sent-message {
    text-align: right;
    background-color: #FED9ED;
    margin-left: 930px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 8px 16px rgba(0, 0, 0, 0);
}
