::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#mssgs {
	font-family: var(--fontMain);
	font-size: 16pt;
	text-align: left;
	letter-spacing: 7.215px;
	color:#0E172C;
    position: absolute;
    width: 450px;
    height: 650px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}

.ownerUser {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ownerUser:hover {
    background-color: #e0e0e0;
}

#messages {
    height: 650px;
    overflow-y: auto;
    margin-bottom: 20px;
    text-align: left;
    justify-content: left;
}

#rectangle_message {
    position: absolute;
    margin-top: 170px;
	top: 0px;
	left: 170px;
	width: 475px;
	height: 750px;
    border: 3px solid #0E172C;
	background:#d2b3d6;

}
#rectangle_convo{
    max-height: 750px;
    position: absolute;
    margin-top: 170px;
	top: 0px;
	left: 655px;
	width: 1200px;
	height: 750px;
    border: 3px solid #0E172C;
	background:#d2b3d6;

}
.myProfile {
    margin-top: -40px;
    display: flex;
    height: auto;
    width: auto;
    margin-left: 120px;
    font-family: var(--fontMain);
    font-size: 35px;
}
.message{
    margin-top: -115px;
    display: flex;
    height: auto;
    width: auto;
    margin-left: 30px;
    font-family: var(--fontMain);
    font-size: 26px;
}
.vertical-line {
    border-left: 3px solid #0E172C;
    height: 477px;
    margin-top: 0px;
    margin-left: 408px;
    transform: rotate(90deg);
} 
.inputbox{
    position: absolute;
    margin-top: 665px;
	top: 0px;
	width: 100%;
	height: 50px;
    align-items: center;
    justify-content: center;
}

#message_input{
    width: 800px;
    margin-left: 100px;
    position: absolute;

}

#sendbtn{
    background-color: #0e172c;
    cursor: pointer;
    position: absolute;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    left: 1100px;

}

#sendImg{
    width: 30px;
    height: 30px;
    margin-top: 4px;
    margin-right: 5px;
}

.messages.sent {
    text-align: right;
    background-color: #caf0f8;
    margin-left: 930px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    height: auto;
}

.messages.received {
    text-align: left;
    background-color: #e0e7ff;
    margin-right: 20%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    height: auto;
}

.sent-message {
    text-align: right;
    background-color: #caf0f8;
    margin-left: 930px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    height: auto;
}

