::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#mssgs {
	font-family: var(--fontMain);
	font-size: 16pt;
	text-align: left;
	letter-spacing: 7.215px;
	color:#0E172C;
    position: absolute;
    width: 450px;
    height: 650px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}
.h2message{
    margin-top: 20px;
    margin-left: 20px;
    font-family: var(--fontMain);
    font-size: 15px;
}
.ownerUser {
    background-color: #FED9ED;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 8px 16px rgba(0, 0, 0, 0);
}

.ownerUser:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6), 0 16px 32px rgba(0, 0, 0, 0.6);
    color: #0e172c;
    background-color: #BB9CC0;
}

#messages {
    height: 650px;
    overflow-y: auto;
    margin-bottom: 20px;
    text-align: left;
    justify-content: left;
}

#rectangle_message {
    position: absolute;
    margin-top: 170px;
    top: 0px;
    left: 80px;
    width: 475px;
    height: 750px;
    border: 3px solid #d2b3d6;
    background: rgba( 210, 179, 214, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#rectangle_convo{
    max-height: 750px;
    position: absolute;
    margin-top: 170px;
	top: 0px;
	left: 585px;
	width: 1200px;
	height: 750px;
    border: 3px solid #d2b3d6;
    background: rgba( 210, 179, 214, 0.85 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    

}
.myProfile {
    margin-top: -40px;
    display: flex;
    height: auto;
    width: auto;
    margin-left: 120px;
    font-family: var(--fontMain);
    font-size: 35px;
}
.message{
    margin-top: -115px;
    display: flex;
    height: auto;
    width: auto;
    margin-left: 30px;
    font-family: var(--fontMain);
    font-size: 26px;
}
.hr {
    width: 100%;
    margin-top: -10px;
    margin-left: 0px;
    size: 20px;
    border: 1px solid #BB9CC0;
}
.inputbox{
    position: absolute;
    margin-top: 665px;
	top: 0px;
	width: 100%;
	height: 50px;
    align-items: center;
    justify-content: center;
}

#message_input{
    width: 800px;
    margin-left: 250px;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.4);
}

#sendbtn{
    background-color: #0e172c;
    cursor: pointer;
    position: absolute;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    left: 1075px;

}

#sendImg{
    width: 30px;
    height: 30px;
    margin-top: 4px;
    margin-right: 5px;
}

.messages.sent {
    text-align: right;
    background-color: #FED9ED;
    margin-left: 930px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 8px 16px rgba(0, 0, 0, 0);
}

.messages.received {
    text-align: left;
    background-color: #E7BCDE;
    margin-left: 1%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 8px 16px rgba(0, 0, 0, 0);
}

.sent-message {
    text-align: right;
    background-color: #FED9ED;
    margin-left: 930px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    height: auto;
}

#text {
    position: absolute; 
    width: 100%;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);

}

#details {
    display: none;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d8b9da;
    z-index: 2;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 8px 16px rgba(0, 0, 0, 0);
}

#off {
    float: right;
    margin-right: 20px;
    margin-top: 80px;
    width: 40px;
    height: 40px;
    background-color: #d8b9da;
    z-index: 2;
    border-radius: 20px;
    border: 0px;
}