#mssgs {
	font-family: var(--fontMain);
	font-size: 39px;
	text-align: left;
	letter-spacing: 7.215px;
	color:#0E172C;
    position: absolute;
}
#rectangle_message {
    position: absolute;
    margin-top: 170px;
	top: 0px;
	left: 170px;
	width: 475px;
	height: 750px;
    border: 3px solid #0E172C;
	background:#fec7d7;
}
#rectangle_convo{
    position: absolute;
    margin-top: 170px;
	top: 0px;
	left: 655px;
	width: 1200px;
	height: 750px;
    border: 3px solid #0E172C;
	background:#fec7d7;
}
.myProfile {
    margin-top: -40px;
    display: flex;
    height: auto;
    width: auto;
    margin-left: 120px;
    font-family: var(--fontMain);
    font-size: 35px;
}
.message{
    margin-top: -115px;
    display: flex;
    height: auto;
    width: auto;
    margin-left: 30px;
    font-family: var(--fontMain);
    font-size: 26px;
}
.vertical-line {
    border-left: 3px solid #0E172C;
    height: 477px;
    margin-top: 0px;
    margin-left: 408px;
    transform: rotate(90deg);
}   
.logo-search{
    display: block;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 70px;
    width: 40px;
    height: 40px;
}
.logo-notif{
    display: block;
    margin-top: -50px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 40px;
    height: 40px;
}
.logo-gallery{
    display: block;
    margin-top: 660px;
    padding-bottom: 10px;
    padding-left: 120px;
    width: 60px;
    height: 60px;
}
.logo-call{
    display: block;
    margin-top: -725px;
    padding-left: 850px;
    width: 50x;
    height: 50px;
}
.logo-videocall{
    display: block;
    margin-top: -50px;
    padding-left: 940px;
    width: 50x;
    height: 50px;
}
.logo-information{
    display: block;
    margin-top: -50px;
    padding-left: 1020px;
    width: 50x;
    height: 50px;
}
.inputbox{
    position: absolute;
    margin-top: 665px;
	top: 0px;
	left: 300px;
	width: 800px;
	height: 50px;
    border: 3px solid #0E172C;
	background:#fec7d7;
}