:root{
    --fontMain: 'Futura PT';
    --color-text: #0e172c;
    --main-color: #fec7d7;
    --secondary-color: #f9f8fc;
    --tertiary-color: #fffffe;
}
body {
	margin-top: 129px;
    margin: 0;
    padding: 0;
    font-family: var(--fontMain);
    overflow-x: hidden;
}

.headerDiv{
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-left: 100px;
}

.pageName{
    font-size: 48pt;
    color: #564f8a;
}

.UserInfo{
    margin-left: 500px;
    display: flex;
    justify-content: space-between;
}

#user-form {
    flex: 1;
    order: 2;
    padding-left: 200px;
}

.OwnerCard {
    order: 1;
    height: 350px;
    width: 250px;
    box-shadow: 0px 9px 20px 3px rgba(0,0,0,0.5);
    max-width: 250px;
    border-radius: 10px;
    max-height: 350px;
}

.OwnerCard img {
    height: 350px;
    width: 250px;
    object-fit: cover;
    max-width: 250px;
    max-height: 350px;
    border-radius: 10px;
}

#popup {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
