
h2{ letter-spacing: 5px;}

:root{
    --fontMain: 'Futura PT';
    --color-text: #0e172c;
    --main-color: #fec7d7;
    --secondary-color: #f9f8fc;
    --tertiary-color: #fffffe;
}
body {
	margin-top: 129px;
    margin: 0;
    padding: 0;
    font-family: var(--fontMain);
    background-color: #FED9ED;
    overflow-x: hidden;
}

.logo-top {
    display: flex;
    align-items: center;
	width: 75px;
    height: 70px;
}
.bg {
    background-color: #FED9ED;

    height: 100% ;
    max-width: 1920px;
    position: absolute;
	align-items: center;
	justify-content: center;
}

.nav{
	position: fixed;
	left: 0px;
	z-index: 10000;
}

.nav-link{
	background: rgba( 187, 156, 192, 0.85 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 0px );
	-webkit-backdrop-filter: blur( 0px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.nav{
	position: fixed;
	left: 0px;
	z-index: 10000;
}

.nav-link{
	background-color: #BB9CC0;
}
.bg .nav {
    position: fixed;
    height: 129px;
}

.bg .nav-link {
    position: absolute;
    width: 1920px;
    height: 142px;
}
.bg .nav-link a {
    color: #fffffe;
    font-size: 35px;
    text-decoration: none;
    float: right;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-right: 40px;
    background-color: #847eaf;
    font-family: var(--fontMain);
    padding: 7px 6px 7px 6px;
    border-radius: 25px;
    color: #fffffe;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 8px 16px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease;
}

.bg .nav-link .notif-clickable {
    position: absolute;
    left: 1160px;
    float: right;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-right: 40px;
    background-color: #847eaf;
    padding: 7px 6px 7px 6px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 8px 16px rgba(0, 0, 0, 0);
}

.bg .nav-link .notif-clickable:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6), 0 16px 32px rgba(0, 0, 0, 0.6);
    color: #0e172c;
    background-color: #BB9CC0;
}


.bg .nav-link a:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6), 0 16px 32px rgba(0, 0, 0, 0.6);
    color: #0e172c;
    background-color: #BB9CC0;
}

.bg .logo {
    position: absolute;
    width: 129px;
    height: 129px;
    top: 10px;
    left: 15px;
    object-fit: cover;
}

.bg .line {
    position: absolute;
    top: 140px;
}

.bg .txt-logo {
    position: absolute;
    width: 395px;
    top: 28px;
    left: 160px;
    font-family: var(--fontMain);
    color: #f3f3f3;
    font-size: 50px;
}

.tagline h2{
    position: absolute;
    font-family: var(--fontMain);
    color: var(--color-text);
    font-size: 60pt;
    text-align: center;
    top: 250px;
    left: 90px;
}

.tagline{
	width: 100px;
	max-width: 50px;
	display: block;
}

#dog_bgg{
    top: 137px;
	left: 1345px;
	width: 577px;
	height: 842px;
    position: absolute;
}

#home_info {
	top: 1089px;
	left: 64px;
	width: 1806px;
	height: 936px;
    position: absolute;
}

#homer {
	top: 54px;
	left: 55px;
	width: 981.15px;
	height: 100%;
	overflow: hidden;
	font-family: var(--fontMain);
	font-size: 39px;
	text-align: left;
	letter-spacing: 7.215px;
	color:#0E172C;
    position: absolute;
}

#bg_image2_1 {
	top: 43px;
	left: 1071px;
	width: 697.29px;
	height: 849.89px;
    position: absolute;
    border-radius: 100px;
}

#rectangle_1 {
    position: absolute;
	top: 0px;
	left: 0px;
	width: 1806px;
	height: 936px;
	border-radius: 100px;
	background:rgba(249,248,252,1);
}

#low h2{
	top: 2146px;
	left: 531px;
	width: 899px;
	height: 220.6px;
	overflow: hidden;
	font-family: var(--fontMain);
	font-size: 146px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 27.01px;
	color: var(--color-text);
    position: absolute;
}

#nigga {
	top: 2598px;
	left: 15px;
	width: 350px;
	height: 406px;
    position: absolute;
}

#carhyl h2 {
	top: 70px;
	left: 115px;
	width: 194px;
	height: 87.8px;
	overflow: hidden;
	font-family: var(--fontMain);
	font-size: 58px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 4.93px;
	color: var(--color-text);
    position: absolute;
}


#programmer h3{
	top: 190px;
	left: 150px;
	width: 130.1px;
	height: 31.1px;
	overflow: hidden;
	font-family: var(--fontMain);
	font-size: 21px;
	font-style: italic;
	text-align: center;
	color:var(--color-text);
    position: absolute;
}


#dev h2{
	top: 250px;
	left: 55px;
	width: 316px;
    height: 100%;            
	overflow: hidden;
	font-family: var(--fontMain);
	font-size: 28px;
	text-align: center;
	color:#0E172C;
    position: absolute;
}


#amiel {
	top: -120px;
	left: 100px;
	width: 229px;
	height: 226px;
    display: block;
    margin: 0px;
    border: none;
    padding: 0px; 
    position: absolute;
}

#bg__card_Amiel {
    position: absolute;
	top: 20px;
	left: 30px;
	width: 350px;
	height: 400px;
	border-radius: 13px;
	border: 6px solid #0e172c;
	background: #d9d4e7;
}

#card_gelo {
	top: 100px;
	left: 567px;
	width: 350px;
	height: 406px;
    position: absolute;
}

#bg__card_gelo {
    position: absolute;
	top: -80px;
	left: -65px;
	width: 350px;
	height: 400px;
	border-radius: 13px;
	border: 6px solid var(--color-text);
	background: #d9d4e7;
}


#gelo h2{
	top: 80px;
	left: -540.5px;
	width: 156px;
	height: 87.8px;
	overflow: hidden;
	font-family: var(--fontMain);
	font-size: 58px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 4.93px;
	color: var(--color-text);
    position: absolute;
}


#programmer_gelo h3{
	top: 93px;
	left: 50px;
	width: 130.1px;
	height: 31.1px;
	overflow: hidden;
	font-family: var(--fontMain);
	font-size: 21px;
	font-style: italic;
	text-align: center;
	color: var(--color-text);
    position: absolute;
}


#dev_gelo h2{
	top: 150px;
	left: -40px;
	width: 316px;
    height: 100%;            
	overflow: hidden;
	font-family: var(--fontMain);
	font-size: 28px;
	text-align: center;
	color:var(--color-text);
    position: absolute;
}


#gelo {
	top: -113px;
	left: 580.5px;
	width: 229px;
	height: 226px;
    position: absolute;
}

#card_jorenz {
    position: absolute;
	top: 100px;
	left: 1439px;
	width: 350px;
	height: 406px;
}

#bg__card_jorenz {
    position: absolute;
	top: -80px;
	left: -450px;
	width: 350px;
	height: 406px;
	border-radius: 13px;
	border: 6px solid #0e172c;
	background:rgba(217,212,231,1);
}


#jorenz h2{
    position: absolute;
	top: 76px;
	left: -1440px;
	width: 231px;
	height: 87.8px;
	overflow: hidden;
	font-family: var(--fontMain);
	font-size: 58px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 4.93px;
	color:var(--color-text);
}


#programmer_jorenz h3{
    position: absolute;
	top: 90px;
	left: -330px;
	width: 130.1px;
	height: 31.1px;
	overflow: hidden;
	font-family: var(--fontMain);
	font-size: 21px;
	font-style: italic;
	text-align: center;
	color:var(--color-text);
}


#dev_jorenz h2{
    position: absolute;
	top: 157px;
	left: -420px;
	width: 316px;
	overflow: hidden;
	font-family: var(--fontMain);
	font-size: 28px;
	text-align: center;
	color:var(--color-text);
}

#jorenz {
	top: -113px;
	left: 1060px;
	width: 229px;
	height: 226px;
    position: absolute;
}

#nelson h2{
    top: 80px;
    left: -1700px;
    width: 194px;
    height: 87.8px;
    font-family: var(--fontMain);
    font-size: 58px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 4.93px;
    color: var(--color-text);
    position: absolute;
}

#programmer_nelson h3{
    top: 83px;
    left: -110px;
    width: 130.1px;
    height: 31.1px;
    overflow: hidden;
    font-family: var(--fontMain);
    font-size: 21px;
    font-style: italic;
    text-align: center;
    color: var(--color-text);
    position: absolute;
}

#dev_nelson h2{
    top: 150px;
    left: -200px;
    width: 316px;
    overflow: hidden;
    font-family: var(--fontMain);
    font-size: 28px;
    text-align: center;
    color: var(--color-text);
    position: absolute;
}

#dog_bgg{
    top: 177px;
	left: 905px;
	width: 1077px;
	height: 842px;
    position: absolute;
}

#dog_bgg2{
    top: 137px;
	left: 675px;
	width: 1077px;
	height: 842px;
    position: absolute;
}


#card_nelson {
    position: absolute;
    top: 100px;
    left: 1700px;
    width: 350px;
    height: 406px;
}

#bg__card_nelson {
    position: absolute;
    top: -80px;
    left: -230px;
    width: 350px;
    height: 406px;
    border-radius: 13px;
    border: 6px solid #0e172c;
    background: rgba(217,212,231,1);
}

#nelson {
    top: -113px;
    left: 1555px;
    width: 229px;
    height: 226px;
    position: absolute;
}

.error-info{
	display: none;
}

.errors {
	font-family: var(--fontMain);
	font-size: 15pt;
	font-weight: bold;
	color: var(--color-text);
}

@media (max-width: 1535px){

}

.notification-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.notification-content {
    background: #ffffff;
    width: 800px;
    height: 600px;
    overflow-y: auto; /* Add scrollbar if content exceeds height */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Box shadow as before */
    position: relative;
}

.notification-item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex; /* Use flexbox to align image and text */
}

.notification-item img {
    width: 150px; /* Set a specific width for the image */
    height: 150px; /* Set a specific height for the image */
    border-radius: 50%; /* Make the image circular */
    margin-right: 10px; /* Add some spacing between the image and text */
}

.notification-item p {
    margin: 0;
    flex-grow: 1; /* Allow the text to grow and take remaining space */
}

.notification-item small {
    color: #888;
}

.notification-overlay.show {
    display: flex;
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
}

.notification-details {
	flex-grow: 1;
}

.notification-buttons {
	margin-top: 10px;
	
}

.accept-btn,
.decline-btn {
    height: 40px;
    width: 80px;
    padding: 8px 12px; /* Adjust the padding for better button appearance */
    background-color: #4CAF50; /* Green color for accept button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	margin-top: 20px;
    margin-right: 10px; 
	margin-left: 100px;
	margin-bottom: 40px;/* Add a margin between the buttons */
}

.decline-btn {
    background-color: #f44336; /* Red color for decline button */
	margin-left: 20px;
}

/* Optionally, add hover effects for better user interaction */
.accept-btn:hover,
.decline-btn:hover {
    opacity: 0.8;
}