
h2{ letter-spacing: 5px;}

:root{
    --fontMain: 'Futura PT';
    --color-text: #0e172c;
    --main-color: #fec7d7;
    --secondary-color: #f9f8fc;
    --tertiary-color: #fffffe;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--fontMain);
    background-color: var(--main-color);
    overflow-x: hidden;
}
.bg {
    background-color: #fec7d7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-size: cover;
    height: 100% ;
    max-width: 100%;
    position: absolute;
}
.bg .nav {
    position: relative;
    height: 129px;
}

.bg .nav-link {
    position: absolute;
    width: 1920px;
    height: 129px;
}
.bg .nav-link a {
    color: var(#fffffe);
    font-size: 35px;
    text-decoration: none;
    float: right;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-right: 40px;
    background-color: #0e172c;
    font-family: var(--fontMain);
    padding: 7px 6px 7px 6px;
    border-radius: 10px;
    color: #fffffe;
    box-shadow: 5px 8px 24px 0px rgba(0,0,0,0.75);
    }
.bg .nav-link a:hover {
    color: #0e172c;
    background-color: #fffffe;
}

.bg .logo {
    position: absolute;
    width: 129px;
    height: 129px;
    top: 10px;
    left: 15px;
    object-fit: cover;
}

.bg .line {
    position: absolute;
    top: 140px;
}

.bg .txt-logo {
    position: absolute;
    width: 395px;
    top: 28px;
    left: 160px;
    font-family: var(--fontMain);
    color: var(--color-text);
    font-size: 50px;
}

.tagline h2{
    position: absolute;
    font-family: var(--fontMain);
    color: var(--color-text);
    font-size: 60pt;
    text-align: center;
    top: 250px;
    left: 90px;
}

#dog_bgg{
    top: 137px;
	left: 1345px;
	width: 577px;
	height: 842px;
    position: absolute;
}

#home_info {
	top: 1089px;
	left: 64px;
	width: 1806px;
	height: 936px;
    position: absolute;
}

#homer {
	top: 54px;
	left: 55px;
	width: 981.15px;
	height: 100%;
	overflow: hidden;
	font-family: var(--fontMain);
	font-size: 39px;
	text-align: left;
	letter-spacing: 7.215px;
	color:#0E172C;
    position: absolute;
}

#bg_image2_1 {
	top: 43px;
	left: 1071px;
	width: 697.29px;
	height: 849.89px;
    position: absolute;
    border-radius: 100px;
}

#rectangle_1 {
    position: absolute;
	top: 0px;
	left: 0px;
	width: 1806px;
	height: 936px;
	border-radius: 100px;
	background:rgba(249,248,252,1);
}

#low h2{
	top: 2146px;
	left: 531px;
	width: 899px;
	height: 220.6px;
	overflow: hidden;
	font-family: var(--fontMain);
	font-size: 146px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 27.01px;
	color: var(--color-text);
    position: absolute;
}

#nigga {
	top: 2598px;
	left: 15px;
	width: 350px;
	height: 406px;
    position: absolute;
}

#carhyl h2 {
	top: 70px;
	left: 115px;
	width: 194px;
	height: 87.8px;
	overflow: hidden;
	font-family: var(--fontMain);
	font-size: 58px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 4.93px;
	color: var(--color-text);
    position: absolute;
}


#programmer h3{
	top: 190px;
	left: 150px;
	width: 130.1px;
	height: 31.1px;
	overflow: hidden;
	font-family: var(--fontMain);
	font-size: 21px;
	font-style: italic;
	text-align: center;
	color:var(--color-text);
    position: absolute;
}


#dev h2{
	top: 250px;
	left: 55px;
	width: 316px;
    height: 100%;            
	overflow: hidden;
	font-family: var(--fontMain);
	font-size: 28px;
	text-align: center;
	color:#0E172C;
    position: absolute;
}


#amiel {
	top: -120px;
	left: 100px;
	width: 229px;
	height: 226px;
    display: block;
    margin: 0px;
    border: none;
    padding: 0px; 
    position: absolute;
}

#bg__card_Amiel {
    position: absolute;
	top: 20px;
	left: 30px;
	width: 350px;
	height: 400px;
	border-radius: 13px;
	border: 6px solid #0e172c;
	background: #d9d4e7;
}

#card_gelo {
	top: 100px;
	left: 567px;
	width: 350px;
	height: 406px;
    position: absolute;
}

#bg__card_gelo {
    position: absolute;
	top: -80px;
	left: -65px;
	width: 350px;
	height: 400px;
	border-radius: 13px;
	border: 6px solid var(--color-text);
	background: #d9d4e7;
}


#gelo h2{
	top: 80px;
	left: -540.5px;
	width: 156px;
	height: 87.8px;
	overflow: hidden;
	font-family: var(--fontMain);
	font-size: 58px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 4.93px;
	color: var(--color-text);
    position: absolute;
}


#programmer_gelo h3{
	top: 93px;
	left: 50px;
	width: 130.1px;
	height: 31.1px;
	overflow: hidden;
	font-family: var(--fontMain);
	font-size: 21px;
	font-style: italic;
	text-align: center;
	color: var(--color-text);
    position: absolute;
}


#dev_gelo h2{
	top: 150px;
	left: -40px;
	width: 316px;
    height: 100%;            
	overflow: hidden;
	font-family: var(--fontMain);
	font-size: 28px;
	text-align: center;
	color:var(--color-text);
    position: absolute;
}


#gelo {
	top: -113px;
	left: 580.5px;
	width: 229px;
	height: 226px;
    position: absolute;
}

#card_jorenz {
    position: absolute;
	top: 100px;
	left: 1439px;
	width: 350px;
	height: 406px;
}

#bg__card_jorenz {
    position: absolute;
	top: -80px;
	left: -450px;
	width: 350px;
	height: 406px;
	border-radius: 13px;
	border: 6px solid #0e172c;
	background:rgba(217,212,231,1);
}


#jorenz h2{
    position: absolute;
	top: 76px;
	left: -1440px;
	width: 231px;
	height: 87.8px;
	overflow: hidden;
	font-family: var(--fontMain);
	font-size: 58px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 4.93px;
	color:var(--color-text);
}


#programmer_jorenz h3{
    position: absolute;
	top: 90px;
	left: -330px;
	width: 130.1px;
	height: 31.1px;
	overflow: hidden;
	font-family: var(--fontMain);
	font-size: 21px;
	font-style: italic;
	text-align: center;
	color:var(--color-text);
}


#dev_jorenz h2{
    position: absolute;
	top: 157px;
	left: -420px;
	width: 316px;
	overflow: hidden;
	font-family: var(--fontMain);
	font-size: 28px;
	text-align: center;
	color:var(--color-text);
}

#jorenz {
	top: -113px;
	left: 1060px;
	width: 229px;
	height: 226px;
    position: absolute;
}

#nelson h2{
    top: 80px;
    left: -1700px;
    width: 194px;
    height: 87.8px;
    font-family: var(--fontMain);
    font-size: 58px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 4.93px;
    color: var(--color-text);
    position: absolute;
}

#programmer_nelson h3{
    top: 83px;
    left: -110px;
    width: 130.1px;
    height: 31.1px;
    overflow: hidden;
    font-family: var(--fontMain);
    font-size: 21px;
    font-style: italic;
    text-align: center;
    color: var(--color-text);
    position: absolute;
}

#dev_nelson h2{
    top: 150px;
    left: -200px;
    width: 316px;
    overflow: hidden;
    font-family: var(--fontMain);
    font-size: 28px;
    text-align: center;
    color: var(--color-text);
    position: absolute;
}


#card_nelson {
    position: absolute;
    top: 100px;
    left: 1700px;
    width: 350px;
    height: 406px;
}

#bg__card_nelson {
    position: absolute;
    top: -80px;
    left: -230px;
    width: 350px;
    height: 406px;
    border-radius: 13px;
    border: 6px solid #0e172c;
    background: rgba(217,212,231,1);
}

#nelson {
    top: -113px;
    left: 1555px;
    width: 229px;
    height: 226px;
    position: absolute;
}

.error-info{
	display: none;
}

.errors {
	font-family: var(--fontMain);
	font-size: 15pt;
	font-weight: bold;
	color: var(--color-text);
}


